<link
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  rel="stylesheet"
/>
<section class="main">
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-xl-6" style="min-height: 500px">
        <div id="canvasContainer">
          <canvas #backgroundCanvas></canvas>

          <div class="imageContainer">
            <image-comp [img]="image" [imgCoor]="imgCoor" [cropCoor]="cropCoor" [compressionRatio]="compressionRatio" [applyCrop]="isCropSet" [imgDataEdited]="newImgData" (onGetImageData)="getImageData($event)" (onSaveCanvas)="getImageCanvasData($event)"></image-comp>
          </div>

          <crop-comp [isCropped]="isCropped" [imgCoor]="imgCoor" (сropCanvasData)="onCrop($event)"></crop-comp>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="form">
          <div class="form-element">
            <label for="file-loader">Open...</label>
            <input
              type="file"
              id="file-loader"
              name="file-loader"
              accept="image/jpeg, image/png"
              (change)="handleFileInput($event.target.files)"
            />
          </div>
          <div class="form-element">
            <button
              name="button-crop"
              [disabled]="isButtonDisabled"
              (click)="cropImage()"
            >
              Crop
            </button>
          </div>
          <div class="form-element">
            <button
              name="button-apply-crop"
              [disabled]="isButtonDisabled"
              (click)="applyCrop()"
            >
              Apply crop
            </button>
          </div>
          <p>Effects</p>
          <div class="form-element">
            <button
              id="button-grayscale"
              name="button-grayscale"
              [disabled]="isButtonDisabled"
              (click)="makeImageGray()"
            >
              Grayscale
            </button>
          </div>
          <div class="form-element">
            <label for="brightnessRange">Brightness</label>
            <input
              id="brightnessRange"
              [disabled]="isButtonDisabled"
              type="range"
              min="-100"
              max="100"
              step="1"
              value="0"
              (change)="changeBrightness($event.target.value)"
            />
          </div>
          <div class="form-element">
            <button
              id="button-upload"
              name="button-upload"
              [disabled]="isButtonDisabled"
              (click)="uploadImage()"
            >
              Upload
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
